In [23]:
import pandas as pd
from pathlib import Path


filename = Path('..') / 'data' / 'patient.csv'

if not filename.exists():
    raise FileNotFoundError(f'File is not found: {filename}')

patient_df = pd.read_csv(filename, sep='\t')

patient_df.head()

,blood_group,user_id,company,registration,address,job,ssn,username,residence,name,current_location,mail,station_ID
0,B-,1384,Wulf Heinz AG,2024/06/13,Zänkerweg 6-2\r\n75317 Pößneck,NaN,079-86-6480,ilias32,NaN,Herr Pirmin Stadelmann B.A.,"(Decimal('-9.5081185'), Decimal('-108.465353'))",bruno18@gmx.de,289
1,O+,1398,Borges Moreira Ltda.,"10/11/2024, 00:00:00","Fazenda Brenda Vieira, 51\r\nPiratininga\r\n99...",NaN,84926073196,pedro-miguelvargas,NaN,Sr. Matheus Cirino,"(Decimal('38.5020005'), Decimal('151.185055'))",ana-beatrizpacheco@hotmail.com,326
2,B-,163,高橋建設有限会社,"10/19/2022, 00:00:00",島根県豊島区上高野24丁目16番6号,NaN,127-45-0018,skobayashi,NaN,中村 真綾,"(Decimal('87.3250985'), Decimal('-83.533367'))",vmaeda@yahoo.com,594
3,B+,112,Yang-Gray,2019/01/19,"93041 Wright Turnpike\r\nLake Loritown, RI 96307",NaN,765-77-3956,kochmario,NaN,Collin Wright,"(Decimal('-45.2256685'), Decimal('147.973684'))",reaton@yahoo.com,738
4,A+,92,Johnson Ltd,2019/11/10,"0089 William Run\r\nWest Adam, TX 90462",NaN,457-20-6978,paul10,NaN,Kristina Murray,"(Decimal('7.750758'), Decimal('71.027557'))",cameron61@hotmail.com,628

In [24]:
patient_df['address'] = patient_df['address'].str.replace('\n', ', ').str.replace('\r', '')
patient_df.head()

,blood_group,user_id,company,registration,address,job,ssn,username,residence,name,current_location,mail,station_ID
0,B-,1384,Wulf Heinz AG,2024/06/13,"Zänkerweg 6-2, 75317 Pößneck",NaN,079-86-6480,ilias32,NaN,Herr Pirmin Stadelmann B.A.,"(Decimal('-9.5081185'), Decimal('-108.465353'))",bruno18@gmx.de,289
1,O+,1398,Borges Moreira Ltda.,"10/11/2024, 00:00:00","Fazenda Brenda Vieira, 51, Piratininga, 99724-...",NaN,84926073196,pedro-miguelvargas,NaN,Sr. Matheus Cirino,"(Decimal('38.5020005'), Decimal('151.185055'))",ana-beatrizpacheco@hotmail.com,326
2,B-,163,高橋建設有限会社,"10/19/2022, 00:00:00",島根県豊島区上高野24丁目16番6号,NaN,127-45-0018,skobayashi,NaN,中村 真綾,"(Decimal('87.3250985'), Decimal('-83.533367'))",vmaeda@yahoo.com,594
3,B+,112,Yang-Gray,2019/01/19,"93041 Wright Turnpike, Lake Loritown, RI 96307",NaN,765-77-3956,kochmario,NaN,Collin Wright,"(Decimal('-45.2256685'), Decimal('147.973684'))",reaton@yahoo.com,738
4,A+,92,Johnson Ltd,2019/11/10,"0089 William Run, West Adam, TX 90462",NaN,457-20-6978,paul10,NaN,Kristina Murray,"(Decimal('7.750758'), Decimal('71.027557'))",cameron61@hotmail.com,628

In [25]:
patient_df['registration'] = (
    patient_df['registration']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.strip()
)

patient_df['registration'] = pd.to_datetime(
    patient_df['registration'],
    errors='coerce',
    format='mixed'
)
patient_df.head()

,blood_group,user_id,company,registration,address,job,ssn,username,residence,name,current_location,mail,station_ID
0,B-,1384,Wulf Heinz AG,2024-06-13,"Zänkerweg 6-2, 75317 Pößneck",NaN,079-86-6480,ilias32,NaN,Herr Pirmin Stadelmann B.A.,"(Decimal('-9.5081185'), Decimal('-108.465353'))",bruno18@gmx.de,289
1,O+,1398,Borges Moreira Ltda.,2024-10-11,"Fazenda Brenda Vieira, 51, Piratininga, 99724-...",NaN,84926073196,pedro-miguelvargas,NaN,Sr. Matheus Cirino,"(Decimal('38.5020005'), Decimal('151.185055'))",ana-beatrizpacheco@hotmail.com,326
2,B-,163,高橋建設有限会社,2022-10-19,島根県豊島区上高野24丁目16番6号,NaN,127-45-0018,skobayashi,NaN,中村 真綾,"(Decimal('87.3250985'), Decimal('-83.533367'))",vmaeda@yahoo.com,594
3,B+,112,Yang-Gray,2019-01-19,"93041 Wright Turnpike, Lake Loritown, RI 96307",NaN,765-77-3956,kochmario,NaN,Collin Wright,"(Decimal('-45.2256685'), Decimal('147.973684'))",reaton@yahoo.com,738
4,A+,92,Johnson Ltd,2019-11-10,"0089 William Run, West Adam, TX 90462",NaN,457-20-6978,paul10,NaN,Kristina Murray,"(Decimal('7.750758'), Decimal('71.027557'))",cameron61@hotmail.com,628

In [26]:
patient_df['residence'].unique()

array([nan])

In [27]:
patient_df = patient_df.drop(columns=['residence'])

patient_df.head()

,blood_group,user_id,company,registration,address,job,ssn,username,name,current_location,mail,station_ID
0,B-,1384,Wulf Heinz AG,2024-06-13,"Zänkerweg 6-2, 75317 Pößneck",NaN,079-86-6480,ilias32,Herr Pirmin Stadelmann B.A.,"(Decimal('-9.5081185'), Decimal('-108.465353'))",bruno18@gmx.de,289
1,O+,1398,Borges Moreira Ltda.,2024-10-11,"Fazenda Brenda Vieira, 51, Piratininga, 99724-...",NaN,84926073196,pedro-miguelvargas,Sr. Matheus Cirino,"(Decimal('38.5020005'), Decimal('151.185055'))",ana-beatrizpacheco@hotmail.com,326
2,B-,163,高橋建設有限会社,2022-10-19,島根県豊島区上高野24丁目16番6号,NaN,127-45-0018,skobayashi,中村 真綾,"(Decimal('87.3250985'), Decimal('-83.533367'))",vmaeda@yahoo.com,594
3,B+,112,Yang-Gray,2019-01-19,"93041 Wright Turnpike, Lake Loritown, RI 96307",NaN,765-77-3956,kochmario,Collin Wright,"(Decimal('-45.2256685'), Decimal('147.973684'))",reaton@yahoo.com,738
4,A+,92,Johnson Ltd,2019-11-10,"0089 William Run, West Adam, TX 90462",NaN,457-20-6978,paul10,Kristina Murray,"(Decimal('7.750758'), Decimal('71.027557'))",cameron61@hotmail.com,628

In [28]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   blood_group       2154 non-null   object
 1   user_id           2154 non-null   int64
 2   company           2154 non-null   object
 3   registration      2154 non-null   datetime64[ns]
 4   address           1831 non-null   object
 5   job               646 non-null    object
 6   ssn               2154 non-null   object
 7   username          2154 non-null   object
 8   name              2154 non-null   object
 9   current_location  2046 non-null   object
 10  mail              2154 non-null   object
 11  station_ID        2154 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 202.1+ KB

In [29]:
patient_df.describe()

           user_id                   registration   station_ID
count  2154.000000                           2154  2154.000000
mean   1073.106778  2022-04-13 20:44:47.465180928   368.611421
min       0.000000            2018-09-25 00:00:00     0.000000
25%     532.250000            2020-07-26 06:00:00   178.250000
50%    1072.500000            2022-04-26 12:00:00   361.000000
75%    1608.500000            2024-02-06 00:00:00   549.000000
max    2153.000000            2025-09-22 00:00:00   745.000000
std     626.165384                            NaN   213.766990

In [30]:
patient_df.shape

(2154, 12)

In [31]:
filename = Path('..') / 'data' / 'observation.csv'

if not filename.exists():
    raise FileNotFoundError(f'File is not found: {filename}')

observation_df = pd.read_csv(filename, sep='\t')

observation_df.head()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
0,96.491498,75.410035,11.966950,14.781380,38.814201,60.447244,130.452955,94.990567,34.465008,8.254118,...,4.000203,80.401412,36.370500,51.040438,27.830965,0.286386,26.305034,1.0,6.84019,79.87116
1,97.657620,90.314511,9.500074,16.118786,42.528828,60.183638,106.651627,107.891610,37.058675,9.514584,...,4.073080,63.098636,26.194633,50.549199,51.169605,0.257752,28.282578,1.0,-29.29750,-51.50361
2,96.528162,79.127147,11.268005,15.921648,41.262696,77.600291,131.520657,109.497981,36.934570,10.435298,...,4.000805,47.467045,47.915005,44.390213,45.069050,0.255257,34.529833,1.0,9.33370,122.86370
3,98.195660,83.015909,14.140633,14.348950,40.283494,59.027420,144.702141,101.915115,34.855279,8.896198,...,4.003649,36.139538,51.788271,55.517932,29.478669,0.255097,36.136759,1.0,33.54428,-84.23381
4,97.573527,83.388999,9.058458,17.513347,39.844401,49.965222,111.977370,98.441554,36.833986,7.009457,...,4.004251,47.409300,86.559604,40.041646,53.128176,0.286358,23.648813,1.0,50.80019,7.20769

In [32]:
filename = Path('..') / 'data' / 'station.csv'

if not filename.exists():
    raise FileNotFoundError(f'File is not found: {filename}')

station_df = pd.read_csv(filename, sep='\t')

station_df.head()

    station  longitude         location   QoS  latitude     revision
0     Kenda   86.51499     Asia/Kolkata  good  23.19590  17 Jun 2018
1    Canton  -83.48216  America/Detroit  good  42.30865   2022/10/10
2    Zaysan   84.87144      Asia/Almaty  good  47.46657   2016/11/06
3  Shushary   30.38167    Europe/Moscow  good  59.80917   2022/09/10
4   Cheraga    2.95924   Africa/Algiers  good  36.76775  07 Jan 2024

In [33]:
station_df[['continent', 'city']] = station_df['location'].str.rsplit('/', n=1, expand=True)
station_df = station_df.drop(columns=['location'])
station_df.head()

    station  longitude   QoS  latitude     revision continent     city
0     Kenda   86.51499  good  23.19590  17 Jun 2018      Asia  Kolkata
1    Canton  -83.48216  good  42.30865   2022/10/10   America  Detroit
2    Zaysan   84.87144  good  47.46657   2016/11/06      Asia   Almaty
3  Shushary   30.38167  good  59.80917   2022/09/10    Europe   Moscow
4   Cheraga    2.95924  good  36.76775  07 Jan 2024    Africa  Algiers

In [34]:
station_df['revision'] = (
    station_df['revision']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.strip()
)

station_df['revision'] = pd.to_datetime(
    station_df['revision'],
    errors='coerce',
    format='mixed'  
)
station_df.head()

    station  longitude   QoS  latitude   revision continent     city
0     Kenda   86.51499  good  23.19590 2018-06-17      Asia  Kolkata
1    Canton  -83.48216  good  42.30865 2022-10-10   America  Detroit
2    Zaysan   84.87144  good  47.46657 2016-11-06      Asia   Almaty
3  Shushary   30.38167  good  59.80917 2022-09-10    Europe   Moscow
4   Cheraga    2.95924  good  36.76775 2024-01-07    Africa  Algiers

In [35]:
observation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12133 entries, 0 to 12132
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SpO₂                   12133 non-null  float64
 1   HR                     12133 non-null  float64
 2   PI                     12133 non-null  float64
 3   RR                     12133 non-null  float64
 4   EtCO₂                  12133 non-null  float64
 5   FiO₂                   12133 non-null  float64
 6   PRV                    12133 non-null  float64
 7   BP                     12133 non-null  float64
 8   Skin Temperature       12133 non-null  float64
 9   Motion/Activity index  12133 non-null  float64
 10  PVI                    12133 non-null  float64
 11  Hb level               12133 non-null  float64
 12  SV                     12133 non-null  float64
 13  CO                     12133 non-null  float64
 14  Blood Flow Index       12133 non-null  float64
 15  PPG waveform features  12133 non-null  float64
 16  Signal Quality Index   12133 non-null  float64
 17  Respiratory effort     12133 non-null  float64
 18  O₂ extraction ratio    12133 non-null  float64
 19  SNR                    12133 non-null  float64
 20  oximetry               12133 non-null  float64
 21  latitude               12133 non-null  float64
 22  longitude              12133 non-null  float64
dtypes: float64(23)
memory usage: 2.1 MB

In [36]:
observation_df.describe()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
count,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,...,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000,12133.000000
mean,97.409019,83.114699,9.734597,16.137013,40.556298,59.457167,116.650960,103.600513,35.711715,10.085522,...,4.036754,51.869686,50.355038,49.713851,49.096870,0.249540,29.977247,0.596472,28.978655,6.119119
std,0.740892,5.573951,2.698232,1.032176,1.269783,10.767989,29.860181,3.591584,0.605758,1.441347,...,0.139381,12.231608,12.282171,12.949734,12.763442,0.028898,5.759219,0.490625,23.532252,72.653597
min,95.000000,60.000000,0.200000,12.000000,35.000000,21.000000,20.000000,90.000000,33.000000,4.596843,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.200000,20.000000,0.000000,-54.800000,-123.026210
25%,96.834760,78.810257,7.917530,15.452009,39.722449,52.246367,94.306159,101.190550,35.306966,9.135083,...,4.000704,43.553167,41.981568,40.927906,40.507353,0.224546,24.977873,0.000000,16.455000,-68.300000
50%,97.315208,82.950379,9.704334,16.138621,40.605869,59.506589,121.038850,103.589050,35.711292,10.071304,...,4.003555,51.951194,50.397988,49.618836,49.267523,0.249141,30.062375,1.000000,36.215440,8.867040
75%,98.031972,87.429912,11.564319,16.830714,41.417182,66.658016,139.611881,106.009289,36.111692,11.034590,...,4.022252,60.078158,58.768481,58.501520,57.786931,0.274581,34.934766,1.000000,45.516670,65.509170
max,100.000000,100.000000,20.000000,20.000000,45.000000,100.000000,200.000000,120.000000,38.000000,16.168825,...,8.000000,100.000000,100.000000,100.000000,100.000000,0.300000,40.000000,1.000000,68.798330,178.004170

In [37]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   blood_group       2154 non-null   object
 1   user_id           2154 non-null   int64
 2   company           2154 non-null   object
 3   registration      2154 non-null   datetime64[ns]
 4   address           1831 non-null   object
 5   job               646 non-null    object
 6   ssn               2154 non-null   object
 7   username          2154 non-null   object
 8   name              2154 non-null   object
 9   current_location  2046 non-null   object
 10  mail              2154 non-null   object
 11  station_ID        2154 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 202.1+ KB

In [38]:
patient_df.describe()

           user_id                   registration   station_ID
count  2154.000000                           2154  2154.000000
mean   1073.106778  2022-04-13 20:44:47.465180928   368.611421
min       0.000000            2018-09-25 00:00:00     0.000000
25%     532.250000            2020-07-26 06:00:00   178.250000
50%    1072.500000            2022-04-26 12:00:00   361.000000
75%    1608.500000            2024-02-06 00:00:00   549.000000
max    2153.000000            2025-09-22 00:00:00   745.000000
std     626.165384                            NaN   213.766990

In [39]:
station_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   station    746 non-null    object
 1   longitude  746 non-null    float64
 2   QoS        746 non-null    object
 3   latitude   746 non-null    float64
 4   revision   746 non-null    datetime64[ns]
 5   continent  746 non-null    object
 6   city       746 non-null    object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 40.9+ KB

In [40]:
station_df.describe()

        longitude    latitude                       revision
count  746.000000  746.000000                            746
mean     5.941826   28.956844  2020-09-22 00:38:36.353887488
min   -123.026210  -54.800000            2015-09-29 00:00:00
25%    -68.057805   16.455000            2018-04-25 18:00:00
50%      8.818865   36.211865            2020-11-16 00:00:00
75%     65.450023   45.499673            2023-01-23 06:00:00
max    178.004170   68.798330            2025-09-21 00:00:00
std     72.705721   23.569270                            NaN